body{
    font-family: 'Roboto';
    font-size: normal;
    font-weight: normal;
    letter-spacing: 0.01em;
}
/*Nav CSS*/
.nav{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.nav-languaje{
    width: 59px;
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0,0,0, 0.71);
    margin:0.5em 5%;
    position: relative;
    display: inline-block;
}
.nav-button{
    border:none;
    cursor: pointer;
    background-color: #ffffff;
    height: 44px;
    font-size: 15px;
    line-height: 18px;
}

.nav-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */

.nav-dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    line-height: 18px;
}
/*change color of dropdown links on hover */

.nav-dropdown-content a:hover{background-color: #f1f1f1;}
.nav-languaje:hover .nav-dropdown-content{
    display: block;
}

.nav-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    right: 35px;
    top:35px;
    border-radius:25px;
    background-color: #6366f1;
}
.nav-group-circle-line{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav-circle-line{
    background-color: #ffffff;
    width: 27px;
    height: 0px;
    right: 10px;
    top:52px;
    margin:3px 0;
    border: 2px solid #ffffff;
}

.nav-circle-line-little{
    width: 13.85px; 
}

/*Header CSS*/

/*General CSS --> General */

.main-content{
    position: relative;
    width: 100%;
}
.general-snap{
    background-color: #ffffff;
    box-shadow: 0px 4px 6px 1px rgba(0, 0,0, 0.15);
    border-radius: 25px;
    padding: 0.5%;
}

.general-button{
    background-color: #6366f1;
    color: #ffffff;
    height: 44px;
    border-radius:25px;
    font-size: 15px;
    line-height: 18px;
    border-color: #6366f1;
    border: 3px solid #6366f1;
}
.general-line{
    width: 98.02px;
    height: 0px;
    background-color: #6366f1;
    border: 3px solid #6366f1;
}
.center-line{
    position: relative;
    bottom: 25px;
}

.general-container{
    width:80%;
    margin: 5% auto;
}
div.general-container{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0,0, 0.8);

}
/*Main css --> Presentation title*/

.presentation{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.presentation-division{
    position: relative;
    width: 50%;
    height: 300px;
}
.img-diagonal-lines{
    position: absolute;
    width: 165px;
    height: 154px;
    right: 133px;
    top: 1%;
    background-image: url('../img/img-diagonal-lines.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.img-main{
    position: absolute;
    background-image: url('../img/image.png');
    width: 225px;
    height: 245px;
    right: 2%;
    top: 44px;
    border: 4px solid rgba(99, 102, 241, 0.8);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 225px 245px;
    border-radius: 30px;
}

.presentation-title{
    right: -10px;
    bottom: 0;
}

div.presentation-title h1{
     font-weight: bold;
     font-size: 30px;
     line-height: 35px;
     letter-spacing: -0.01em;
     font-weight: 700;
     color: rgba(0, 0,0, 0.8);
     margin: 20% 0 0 5%;
}
div.presentation-title p{
    margin: 5% 0 0 5%; 
}

.presentation-subline{
    position: relative;
    width: 290px;
    height: 13px;
    background-color: rgba(99, 102, 241, 0.8);
    border-radius: 18px;
    margin: 0 0 0 5%;
    bottom:12px;  
}

/*Main CSS --> About*/
.about-title{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}

.about.line{
    position: relative;
    margin: 0 3%;
    top:3em;
}

.about-text-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.about-text{
    width: 75%;
    margin:auto 0;
    right: 0;
}

div.about-text p{
    font-weight: normal;
    font-size:15px;
    line-height: 267.69%;

    letter-spacing: 0.04em;
    color: rgba(0, 0,0, 0.8);
}

.about-button-resume{
    width: 260px;
}
